@charset "UTF-8";

.barre{
    position:relative;
    clear:left;
}
.cadre {
    background: yellow;
    position:relative;
    clear:left;
    width:1500px;
    height: 700px;
}
.bouton {
    float:left;
    position:relative;
    width: 700px;
}
.compteur{
    float:left;
    position:relative;
    width: 300px;
}
.difficulte {
    float:right;
    position:relative;
}
.image {
    width:100px;
    height:100px;
    float:left;
    position:relative;
    margin:0px;
}

